catalog_19033685.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="musicStore">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="top_header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="header_left">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="header_leftimage"/>
                                        <xs:element name="header_leftcontent">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="address"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="header_middle">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="header_middleimage"/>
                                        <xs:element name="header_middlecontent">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="web"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="header_right">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="header_rightimage"/>
                                        <xs:element name="header_rightcontent">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="contact"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="header">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="logo"/>
                            <xs:element name="slogandiv">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="slogan">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="span"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="abs"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="banner">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="banner_content"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="banner_info"/>
                <xs:element name="song">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="songs" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="coverPhoto">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="song" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="songgrid" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="songDescription">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="info1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="nametitle"/>
                                                                            <xs:element type="xs:string" name="name"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="info2" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="nametitle"/>
                                                                            <xs:element name="genre">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:enumeration value="Classical"/>
                                                                                        <xs:enumeration value="HipHop"/>
                                                                                        <xs:enumeration value="Country Music"/>
                                                                                        <xs:enumeration value="Jazz"/>
                                                                                        <xs:enumeration value="Folk-Pop"/>
                                                                                        <xs:enumeration value="Pop"/>
                                                                                        <xs:enumeration value="Funk"/>
                                                                                        <xs:enumeration value="Pop"/>
                                                                                        <xs:enumeration value="Alternative rock"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="info3" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="nametitle"/>
                                                                            <xs:element type="xs:string" name="producerName"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="info4">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="nametitle"/>
                                                                            <xs:element type="xs:string" name="singer"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="info5">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="nametitle"/>
                                                                            <xs:element name="releaseYear">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:integer">
                                                                                            <xs:attribute type="xs:string" name="releaseDate" use="optional"/>
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="info6">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="nametitle"/>
                                                                            <xs:element type="xs:string" name="timeLength"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="award">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="info" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="nametitle"/>
                                                                            <xs:element name="award1" maxOccurs="unbounded" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element type="xs:string" name="image"/>
                                                                                        <xs:element type="xs:string" name="name"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element type="xs:string" name="nametitle" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>